<!DOCTYPE html>
<html>
<head>
  <title>Logged In Page</title>
  
</head>
<body>
  <header>
    <nav>
      <ul>
      
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Welcome, [username]!</h1>

    <div class="call-to-action">
      <h2>Select an Analysis Option</h2>
      <button>Incident Reports</button>
      <button>Equipment and Inventory</button>
      <button>Events</button>
      <button>Financial Reports</button>
      <button>Insurance Reports</button>
      <button>Intended Projects and Policies</button>
    </div>
  </main>

  
</body>
</html>

