<div class="card">
  <div class="card-header">
    <h5 class="card-title">Login</h5>
  </div>
  <div class="card-body">
    
    </div>
    <form (submit)="onLogin()">
      <div class="form-group">
        <label for="UserType">UserType</label>
        <select class="form-control" id="UserType" name="UserType" ngModel required>
          <option value="Adminstrator">Adminstrator</option>
          <option value="Public">Public User</option>
          <option value="Volunteer">Volunteer User</option>
          <option value="Health Service">Health Service User</option>
          <option value="Police Service">Police Service User</option>
          <option value="Fire Service">Fire Service user</option>
          <option value="MOW">MOW user</option>
          <option value="USMO">USMO User</option>
        </select>
            
        
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="Username" [(ngModel)]="loginData.Username" name="Username" required>
        
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="Password" class="form-control" id="Password" [(ngModel)]="loginData.Password" name="Password" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
  
   
  </div>
</div>
