<div class="card">
    <div class="card-header">
      <h5 class="card-title">Login</h5>
    </div>
    <div class="card-body">
      <div class="spinner-border" *ngIf="isLoading" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <div class="form-group">
          <label for="userClass">Userclass</label>
          <select class="form-control" id="userClass" name="userClass" ngModel required>
           <option value="Adminstrator">Adminstrator</option>
              <option value="Public">Public User</option>
              <option value="Volunteer">Volunteer User</option>
              <option value="Health Service">Health Service User</option>
              <option value="Police Service">Police Service User</option>
              <option value="Fire Service">Fire Service user</option>
              <option value="MOW">MOW user</option>
              <option value="USMO">USMO User</option>
          </select>
          <div class="invalid-feedback" *ngIf="loginForm.controls['userClass']?.invalid">Please enter a valid Userclass.</div>

        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" id="username" name="username" ngModel type="text" placeholder="Username" required>
          <div class="invalid-feedback" *ngIf="loginForm.controls['username'].invalid">Please enter a valid Username.</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" id="password" name="password" ngModel type="password" placeholder="Password" required>
          <div class="invalid-feedback" *ngIf="loginForm.controls['password'].invalid">Please enter a valid Password.</div>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
  </div>
  
  
  
  
  